name: Create pull request

on:    
  workflow_call:
    

jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        environment: [development, production]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Type version release
        id: version
        run: |
          echo "**********************"
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          version=$(npm run env | grep npm_package_version | awk -F= '{print $2}').version
          git tag ${VERSION}
          git push --force
          echo "::set-output name=version::${version}"
          echo "**********************"          

      - name: Load Configuration
        id: load-config
        run: |
          if [ "${{ matrix.environment }}" == "development" ]; then
            cp config-development.yaml config.yaml
          elif [ "${{ matrix.environment }}" == "production" ]; then
            cp config-production.yaml config.yaml
          fi
        shell: bash

      - name: Set Environment Variables
        run: |
          if [ "${{ matrix.environment }}" == "development" ]; then
            export VAR0=Development
            export VAR1=cpr-dev
            export VAR2=development
            export VAR3= Go to development
          elif [ "${{ matrix.environment }}" == "production" ]; then
            export VAR0=Production v${{ steps.version.outputs.version }}
            export VAR1=cpr-prod
            export VAR2=production
            export VAR3=v${{ steps.version.outputs.version }} release
          fi
        shell: bash

      - name: Production v${{ steps.version.outputs.version }}
        id: cpr-prod
        uses: peter-evans/create-pull-request@v5
        with:
          commit-message: Create pull request ${{ env.VAR0 }}
          committer: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: ${{ github.ref }}
          delete-branch: true
          base: production
          title: 'v${{ steps.version.outputs.version }} release'
          body: |
            # Cambios
            <!-- Incluya un resumen del cambio y qu茅 problema se solucion贸. -->
            <!-- Incluya tambi茅n la motivaci贸n y el contexto pertinentes. -->
            <!-- Enumere las dependencias necesarias para este cambio. -->
            Fixes # (issue)
            ## De qu茅 se trata este PR
            - Ingrese una breve descripci贸n para este PR
            ### Ejecuciones de prueba
            - [Run actions](<>)
            ## Tipo de cambio
            <!-- Elimine las opciones que no sean relevantes. -->
            - [ ]  Actualizaci贸n de documentaci贸n
            - [ ] И Casos de prueba
            - [ ]  Correcci贸n de errores (cambio continuo que soluciona un problema)
            - [ ]  Nueva caracter铆stica (cambio continuo que agrega funcionalidad)
            - [ ]  Cambio importante (correcci贸n o caracter铆stica que har铆a que la funcionalidad existente no funcionara como se esperaba)
            - [ ]  Este cambio requiere una actualizaci贸n de documentaci贸n
            ## Checklist
            - [ ] Mi c贸digo sigue las pautas de estilo de este proyecto
            - [ ] He realizado una auto-revisi贸n de mi propio c贸digo
            - [ ] He comentado mi c贸digo, particularmente en 谩reas dif铆ciles de entender
            - [ ] He realizado los cambios correspondientes a la documentaci贸n.
            - [ ] Mis cambios no generan nuevas advertencias
            - [ ] 驴Actualiz贸 CHANGELOG en caso de un cambio importante?
          labels: |
            automated pr
          assignees: ${{ github.actor }}
          reviewers: ${{ github.actor }}
          milestone: 1
          draft: false